<div class='content'>
  <form novalidate name="form">
  
    <div class='form-left clearfix'>
      
      <div class='input-container'>
        <h1>Forked from {{forkedTitle}}</h1>
        <h2 class='playlist-url'>tunefork.airshipcms.io/view/{{id}}</h2>
        <br>
        <input required type="text" name="title" placeholder="Enter a Playlist Title" [(ngModel)]='form.title' value='{{forkedTitle}}' (ngModelChange)='newTitle(form.title)'>
      </div>

      <div class='input-container clearfix'>
        <label>Add Songs</label>
        <br>
        <input class='song-input' required type="text" name="url" placeholder="Paste link here" [(ngModel)]="form.url">
        <button (click)="add(form.url)">Add to List</button>
        <!-- <p class='error-message' *ngIf='url.errors && url.dirty'>Invalid url.</p> -->
      </div>
  
      <ul class='list'>
        <li *ngFor='let item of playlist; let i = "index"' class='playlist-item'>
          <div class='remove-button' (click)='remove(i)'>x</div>
          <iframe [ngClass]='{"hidden": !item.play}' class='song' frameborder="0" allowfullscreen autoplay='true'></iframe>
          <div [ngClass]='{"hidden": item.play}' class=' image-wrapper' (click)='play(item.embed_url, i)'>
            <img [src]='item.image_url'>
          </div>
        </li>
      </ul>
    </div>
  
    <div class='form-right'>
      <button [ngClass]='{disabled: playlist.length==0}' (click)="save()" [disabled]='playlist.length==0'>Save & Share Playlist!</button>
    </div>
    
  </form>
</div>