/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
}
.content-container {
	max-width: 930px;
	margin: 0 auto;
	color: #8A95A7;
	font-family: 'Varela Round', sans-serif;
	overflow: auto;
	padding-top: 50px;
}
header {
	background-color: #4C525B;
	height: 50px;
	top: 0;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
}
li {
	list-style: none;
	display: inline-block;
}
.nav-list {
	text-align: center;
	margin: 0;
	position: relative;
	padding-top: 10px;
}
.nav-item {
	color: #8A95A7;
	margin-right: 10px;
	cursor: pointer;
	font-weight: 200;
}
.nav-item img {
	width: 180px;
}
.nav-item.playlists {
	position: absolute;
	left: 0;
}
.nav-item.create {
	position: absolute;
	right: 0;
}
.nav-item h4 {
	display: inline-block;
	vertical-align: middle;
}
.nav-item.playlists .play-symbol,
.nav-item.create {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 5px solid #8893A4;
}
.play-symbol {
	font-size: 12px;
	margin-left: 10px;
}
.play-symbol span {
	position: relative;
    top: 2px;
}
.play-icon {
    padding: 2px;
}
.play-icon span {
	position: relative;
    top: 1px;
}
.content-container{
  max-width: none;
}
.content{
  padding: 20px;
  margin: 0 auto;
}
.clearfix {
    overflow: auto;
}

@media only screen and (min-width: 700px){
  .content{
    padding: 50px;
  }
}

li.playlist{
  width: 100%;
  float: none;
  box-sizing: border-box;
  height: auto;
  transition-duration: .2s;
  margin: 3px 10px;
}
