<form novalidate name="form" [ngFormModel]="form">
	<p *ngIf='track.errors && track.dirty'>Please enter a valid youtube, soundcloud or spotify url</p>
	<input required type="text" name="track" ngControl="track" placeholder="paste link here" [(ngModel)]="form.track">
	<button (click)="upload(form.track)" [disabled]='track.errors'>Upload</button>
	<button (click)="share()" [disabled]='playlist.length===0'>Share</button>
</form>
<ul *ngFor='let item of playlist'>
	<li>
		{{item.track}}
		<iframe width="560" height="315" [src]="saniziteUrl(item.track)" frameborder="0" allowfullscreen></iframe>
	</li>
</ul>
<!-- <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0pjVG8mk3DxVHXqsIHCbee" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->