form {
  box-sizing: border-box;
}
label {
  color: #626B7A;
  font-weight: 300;
  font-size: 14px;
}
.form-left,
.playlist-left {
  float: left;
  width: 60%;
  border-right: 1px solid #BFC6D2;
  box-sizing: border-box;
}
.form-right,
.playlist-right {
  float: right;
  width: 40%;
  position: relative;
  padding-left: 50px;
  padding-top: 20px;
  box-sizing: border-box;
}
.input-container {
  margin-bottom: 50px;
  margin-right: 50px;
  overflow: hidden;
}
input {
  height: 40px;
  width: 530px;
  background-color: #F4F8FF;
  color: #BFC6D2;
  font-size: 14px;
  font-family: 'Varela Round', sans-serif;
  color: #2E3239;
  text-indent: 10px;
}
.input-container button {
  display: inline-block;
  margin-left: 20px;
}
.input-container input {
  display: inline-block;
}
button {
  background: #727683;
  color: #BFC6D2;
  padding: 15px;
  font-size: 14px;
  border: none;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
  outline: none;
  font-weight: 100;
}
button.disabled  {
  background: #B9BBC2;
  color: #DFE3E9;
}
.playlist-item {
  border: 1px solid #BFC6D2;
  padding: 10px;
  margin-right: 50px;
  margin-bottom: 20px;
}
iframe.song {
  width: 520px;
  height: 300px;
  position: relative;
}
div.image-wrapper {
  width: 520px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 5px;
}
.image-wrapper img {
  width: 100%;
  min-height: 100%;
}
.playlist-item {
  transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.playlist-item:hover {
  -webkit-box-shadow: 0 2px 2px #888888;
    box-shadow: 0 2px 2px #888888;
}
.remove-button {
  border-radius: 50%;
  border: 5px solid #8A95A7;
  color: #8A95A7;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: -10px;
    top: -10px;
    z-index: 1;
    background: #ffffff;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.remove-button:hover {
  border-color: #D14D25;
  color: #D14D25;
}
.list li {
  position: relative;
}
.error-message {
  color: #D25129;
  font-size: 12px;
}
.hidden {
  display: none;
}